<h1 class="all">BLOG DETAILS</h1>
<img src={{theBlog.imageURL}}>
<p>Title:</p>
<h2>{{theBlog.title}}</h2>

<p>Message:</p>
<h2>{{theBlog.message}}</h2>

<h2>Comments:</h2>
{{#each theBlog.comments}}
{{this.message}}
<a href="/profile/{{this.author.blogURL}}">{{this.author.username}}</a>
<img src="{{this.author.profilePic}}" alt="">
{{/each}}


<p>Author:</p>
<a href="/profile/{{theBlog.author.blogURL}}"><h2>{{theBlog.author.username}}</h2></a>

<p>Interest:</p>
<h2>{{theBlog.interest}}</h2>

<p>Date:</p>
<h2>{{theBlog.date}}</h2>
