<h1 class="all">BLOG DETAILS</h1>
<img src={{theBlog.imageURL}}>
<p>Title:</p>
<h2>{{theBlog.title}}</h2>

<p>Message:</p>
<h2>{{theBlog.message}}</h2>

<p>Author:</p>
<h2>{{theBlog.author}}</h2>

<p>Interest:</p>
<h2>{{theBlog.interest}}</h2>

<p>Date:</p>
<h2>{{theBlog.date}}</h2>
